body {
  background: #0d0409;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  word-wrap: break-word;
  color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
}
.hidden-object {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
@media (min-width: 768px) {
  .swiper {
    width: 100%;
    justify-content: center;
  }
}
.swiper .button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .swiper .button {
    display: none;
  }
}
.button {
  background-color: transparent;
  border: 2px solid #0d0409;
}
.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .page-header {
    justify-content: space-between;
  }
}
.main-nav {
  display: flex;
  width: 100%;
  min-height: 55px;
  background: #160b19;
}
@media (min-width: 768px) {
  .main-nav {
    justify-content: space-around;
  }
}
.main-nav__logo {
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 55px;
}
@media (min-width: 768px) {
  .main-nav__logo {
    width: auto;
  }
}
.button_nav {
  width: 66px;
  padding: 5px 5px 0 5px;
  border: none;
}
@media (min-width: 768px) {
  .button_nav {
    display: none;
  }
}
.main-nav__wrapper {
  position: absolute;
  display: none;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    position: unset;
    display: flex;
    flex-direction: row-reverse;
    min-height: 55px;
  }
}
.main-nav__wrapper_active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 105px;
}
.main-nav__profile {
  display: flex;
  align-items: center;
  min-height: 35px;
  margin-left: 20px;
}
.main-nav__profile span {
  margin-left: 7px;
}
@media (min-width: 768px) {
  .main-nav__profile {
    min-height: 55px;
    margin-left: 20px;
  }
}
.main-nav__apps,
.main-nav__courses {
  display: flex;
  margin-left: 20px;
  min-height: 35px;
  align-items: center;
}
@media (min-width: 768px) {
  .main-nav__apps,
  .main-nav__courses {
    min-height: 55px;
    margin-left: 20px;
  }
}
.page-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1200px) {
  .page-main {
    width: 1024px;
    margin: 0 auto 0 auto;
  }
}
.page-main section {
  background: #160b19;
  border-bottom: 2px solid #0d0409;
  padding: 10px 0 10px 0;
}
.page-main section:last-child {
  border: none;
}
.page-main h1 {
  font-size: 24px;
}
.page-main h2 {
  font-size: 16px;
}
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.advantages > p {
  margin-bottom: 0;
  width: 85%;
  text-align: center;
}
.advantages__list {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.advantages__item img {
  position: absolute;
  z-index: 1;
}
.advantages__item {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 200px;
  margin: 0 auto 0 auto;
  z-index: 2;
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
  }
}
.advantages__item p {
  text-align: center;
  z-index: 2;
}
.advantages__item h2 {
  z-index: 2;
}
.advantages__item p:nth-child(1) {
  margin-bottom: 0;
}
.advantages__item_active {
  display: flex;
}
.apps {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.apps__list {
  width: 85%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.apps p {
  margin: 10px 10% 10px 10%;
  text-align: center;
}
.apps__item {
  display: none;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .apps__list {
    justify-content: normal;
  }
  .apps__item {
    display: flex;
    margin-left: 15px;
  }
}
.apps__item_active {
  display: flex;
}
.page-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #160b19;
  align-items: center;
  min-height: 50px;
  margin-top: 5px;
}
.page-footer a,
.page-footer span {
  display: block;
}
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  padding: 0;
}
@media (min-width: 768px) {
  .about {
    min-height: 200px;
  }
}
@media (min-width: 1000px) {
  .about {
    min-height: 300px;
  }
}
.about p {
  text-transform: uppercase;
  font-family: 24px;
  text-align: center;
  width: 85%;
  z-index: 2;
}
.about img {
  position: absolute;
  z-index: 1;
}
