.page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .page-header {
    justify-content: space-between;
  }
}
.main-nav {
  display: flex;
  width: 100%;
  min-height: 55px;
  background: #0d0d0d;
}
.main-nav__logo {
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 55px;
}
.button_nav {
  width: 66px;
  padding: 5px 5px 0 5px;
  border: none;
}
.main-nav__wrapper {
  background: #0d0d0d;
  position: absolute;
  top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  min-height: 165px;
  width: 250px;
  z-index: 10;
}
.main-nav__wrapper_active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 105px;
}
.main-nav__profile {
  display: flex;
  align-items: center;
  min-height: 55px;
  padding-left: 20px;
}
.main-nav__profile span {
  margin-left: 7px;
}
.main-nav__apps,
.main-nav__courses {
  display: flex;
  padding-left: 20px;
  min-height: 55px;
  align-items: center;
  justify-content: flex-start;
  width: 230px;
}
.main-nav__apps_active,
.main-nav__courses_active {
  background-color: #121212;
}
@media (min-width: 768px) {
  .main-nav {
    justify-content: space-around;
  }
  .main-nav__logo {
    width: auto;
  }
  .main-nav__wrapper {
    position: unset;
    flex-direction: row-reverse;
    min-height: 55px;
    padding: 0;
    width: auto;
  }
  .button_nav {
    display: none;
  }
  .main-nav__apps,
  .main-nav__courses {
    justify-content: center;
    min-height: 55px;
    margin-left: 20px;
    padding: 0;
    width: 110px;
  }
  .main-nav__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 0;
    min-height: 55px;
    margin-left: 20px;
  }
}
.page-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  flex: 1 0 auto;
}
.page-main section {
  background: #0d0d0d;
  border-bottom: 2px solid transparent;
  padding: 10px 0 10px 0;
  flex: 0 0 auto;
  margin-bottom: 20px;
}
.page-main section:last-of-type {
  flex: 1 0 auto;
}
.page-main .about {
  background: none;
}
.page-main section:last-child {
  border: none;
}
.page-main h1 {
  font-size: 40px;
  font-weight: 400;
}
.page-main h2 {
  font-size: 30px;
  font-weight: 400;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
@media (min-width: 1200px) {
  .page-main {
    width: 1200px;
    margin: 0 auto 0 auto;
  }
}
.registation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registation a {
  font-size: 14px;
}
.registation__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 10px auto;
}
.registation__form div {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .registation__form {
    width: 50%;
  }
}
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.advantages > p {
  margin-bottom: 0;
  width: 85%;
  text-align: center;
}
.advantages__list {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.advantages__item img {
  position: absolute;
  z-index: 1;
}
.advantages__item {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 200px;
  margin: 0 auto 0 auto;
  z-index: 2;
}
.advantages__item p {
  text-align: center;
  z-index: 2;
}
.advantages__item h2 {
  z-index: 2;
}
.advantages__item p:nth-child(1) {
  margin-bottom: 0;
}
.swiper__item_active {
  display: flex;
}
@media (min-width: 768px) {
  .advantages__item {
    display: flex;
    width: 300px;
  }
  .advantages > p {
    margin-bottom: 16px;
  }
}
.main-apps {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.main-apps__list {
  width: 85%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.main-apps p {
  margin: 10px 10% 10px 10%;
  text-align: center;
}
.main-apps__item {
  display: none;
  flex-direction: column;
  align-items: center;
}
.swiper__item_active {
  display: flex;
}
@media (min-width: 768px) {
  .main-apps__list {
    justify-content: normal;
  }
  .main-apps__item {
    display: flex;
    margin-left: 15px;
  }
}
.page-footer {
  display: flex;
  justify-content: space-around;
  background-color: #0d0d0d;
  align-items: center;
  min-height: 50px;
  margin-top: 5px;
  flex: 0 0 auto;
}
.page-footer a,
.page-footer span {
  width: 120px;
  display: block;
}
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0;
}
.about h3 {
  font-size: 16px;
  text-align: center;
}
.about p {
  display: none;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  width: 85%;
}
@media (min-width: 1200px) {
  .about {
    height: 200px;
  }
  .about h3 {
    font-size: 28px;
  }
  .about p {
    display: block;
    font-size: 16px;
  }
}
.apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.apps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
}
.apps__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apps__item__content__top {
  min-height: 162px;
}
.apps__item__content .button {
  text-align: center;
  width: 100px;
}
@media (min-width: 768px) {
  .apps__item {
    flex-direction: row;
    width: 80%;
  }
  .apps {
    align-items: normal;
  }
  .apps__item__content {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-left: 25px;
  }
}
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.courses__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
}
.courses__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
}
.courses__item__content__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 162px;
  margin-bottom: 10px;
}
.courses__item__content .button {
  text-align: center;
  width: 100px;
}
.courses__description {
  margin-top: 0;
  padding: 0px 20px 0 20px;
}
@media (min-width: 768px) {
  .courses__item {
    flex-direction: row;
    width: 80%;
  }
  .courses {
    align-items: normal;
  }
  .courses__item__content {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-left: 25px;
  }
  .courses__item__content__top {
    align-items: flex-start;
  }
  .courses__description {
    padding: 0;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contacts__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.contacts__offer p {
  text-align: center;
}
.contacts__offer p:nth-of-type(2) {
  margin-top: 0;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 450px;
}
.contacts__form input[type="button"] {
  align-self: flex-end;
}
.contacts__form input[type="text"] {
  width: 65%;
}
.contacts__user-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contacts__user-mail label {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .contacts__form {
    align-items: flex-start;
  }
  .contacts__info {
    font-size: 24px;
  }
  .contacts__user-mail {
    justify-content: flex-start;
  }
  .contacts__form input[type="text"] {
    width: 35%;
  }
  .contacts__form textarea {
    min-height: 220px;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px auto;
  min-height: 500px;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
  min-height: 250px;
}
.profile__image {
  max-width: 500px;
}
.profile__image img {
  max-width: 100%;
}
.profile__name {
  font-size: 28px;
  margin: 10px 0 20px 0;
}
.profile__avatar {
  max-width: 250px;
  max-height: 250px;
}
.profile__form__name {
  font-size: 28px;
  margin: 0 0 20px 0;
}
.profile__form,
.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.profile__form div:not(:first-child),
.profile__info div:not(:first-child) {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 80%;
}
@media (min-width: 768px) {
  .profile__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    align-items: normal;
    width: 80%;
  }
  .profile__info div:first-child {
    display: flex;
    justify-content: flex-start;
    width: 80%;
  }
  .profile__name {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .profile__form div:not(:first-child),
  .profile__info div:not(:first-child) {
    height: 30px;
  }
  .profile__info,
  .profile__form {
    width: 500px;
  }
  .profile__image {
    width: 250px;
  }
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
}
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 100px;
}
.login__form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 280px;
}
.login__error {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .login {
    font-size: 20px;
  }
  .login__form div {
    width: 600px;
    margin-bottom: 20px;
  }
  .login__form input {
    height: 35px;
  }
  .login__form input[type="submit"] {
    width: 100px;
    height: 50px;
  }
}
.courses-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.courses-list__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.button__make-course {
  position: absolute;
  right: 65px;
  top: 70px;
}
.courses-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100px;
  align-items: center;
  margin: 10px auto 0 auto;
  border-bottom: 2px solid #121212;
}
.courses-list__item:nth-last-of-type(1) {
  border-bottom: none;
}
.courses-list__date {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.courses-list__item h2 {
  font-size: 24px;
}
@media (min-width: 768px) {
  .courses-list {
    align-items: normal;
  }
  .courses-list__header {
    margin-bottom: 0;
  }
  .button__make-course {
    position: absolute;
    right: 20px;
    top: 18px;
  }
  .courses-list__item {
    align-items: normal;
  }
  .courses-list__date {
    display: block;
  }
}
.courses__create {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.courses__create__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.courses__create__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create__form__main-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create__form__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto 0 auto;
}
.create__form__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.create__tools {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form__content__block {
  position: relative;
  display: flex;
  width: 80%;
  margin: 20px auto 0 auto;
}
.content__block__close {
  display: none;
}
.form__content__block:nth-last-of-type(1) .content__block__close {
  display: block;
}
.content__block__close {
  position: absolute;
  right: 0;
}
.form__content__block input {
  width: 100%;
}
.content__block__input_title {
  height: 30px;
}
.content__block__input_text {
  min-height: 220px;
}
.create__form__block input,
.create__form__block select,
.create__form__block button {
  width: 250px;
}
.create__form__button {
  align-items: center;
  width: 80%;
  margin: 20px auto 40px;
}
@media (min-width: 768px) {
  .courses__create {
    align-items: normal;
  }
  .create__form__block {
    align-items: normal;
  }
  .create__form__content {
    align-items: normal;
  }
  .create__form__main-info {
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
  }
  .create__form__content .create__tools {
    width: 80%;
    margin: 20px auto 0 auto;
  }
  .create__form__content h2 {
    width: 80%;
    margin: 30px auto 20px auto;
  }
  .courses__create__header {
    margin-bottom: 0;
  }
  .create__tools {
    flex-direction: row;
  }
  .create__tools button {
    width: 30%;
  }
}
.course {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course__title {
  position: relative;
  display: flex;
  width: 100%;
}
.course__title form {
  position: absolute;
  right: 50px;
  top: 20px;
}
.content__image {
  width: 50%;
  margin: 0 auto 0 auto;
}
.course__content {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto 0;
}
.course__info {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.course__info__rating {
  display: flex;
}
.course__info__rating form {
  margin-right: 5px;
}
.like__active {
  background-color: #00ff21;
}
.dislike__active {
  background-color: #ff0000;
}
.info__rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.course__create__comment {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.course__create__comment .button {
  align-self: flex-end;
}
.course__create__comment textarea {
  min-height: 100px;
  margin-bottom: 10px;
}
.course__comments {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}
.course__comment {
  width: 100%;
  min-height: 100px;
  border-bottom: 2px solid #121212;
  margin-bottom: 5px;
}
.comment__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.course__comment img {
  width: 50px;
}
.comment__author {
  display: flex;
  align-items: center;
}
.comment__nickname {
  font-size: 20px;
  margin: 0 7px 0 7px;
}
.comment__info {
  display: flex;
  flex-direction: column;
}
.comment__rating {
  display: flex;
  align-items: center;
}
.comment__rating form {
  margin-right: 5px;
}
.course__up {
  margin-left: 10px;
}
html {
  height: 100%;
}
body {
  background-image: url('../img/background.jpg');
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  word-wrap: break-word;
  color: #fff;
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
}
input {
  border: 2px solid #fff;
  background-color: #121212;
  padding: 5px;
  color: #fff;
}
select {
  border: 2px solid #fff;
  background-color: #121212;
  padding: 5px;
  color: #fff;
}
textarea {
  background-color: #121212;
  color: #fff;
  width: 99%;
  resize: none;
  border: 2px solid #fff;
}
.hidden-object {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.swiper .button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.button {
  border: 2px solid #121212;
  background-color: transparent;
  padding: 5px;
  color: #fff;
}
.button:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .swiper {
    width: 100%;
    justify-content: center;
  }
  .swiper .button {
    display: none;
  }
  h1 {
    width: 80%;
    margin: 20px auto 40px auto;
  }
}
.hidden {
  display: none;
}
