.about {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about__nav .button {
    
}

.about__item {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto 0 auto;
}

.about__item p {
    text-align: center;
}

.about__item p:nth-child(1) {
    margin-bottom: 0;
}

.about__item_active {
    display: flex;
}