.main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 125px;
}

.main-nav__logo {
    display: flex;
    justify-content: center;
    min-height: 55px;
}

.main-nav__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 105px;
}

.main-nav__profile {
    display: flex;
    min-height: 35px;
    margin-left: 20px;
}

.main-nav__apps,
.main-nav__courses {
    display: block;
    margin-left: 20px;
}