.page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-main section {
    background: @additional-background;
    border-bottom: 2px solid @main-background;
}

.page-main h1 {
    font-size: 24px;
}

.page-main h2 {
    font-size: 16px;
}